<mat-tab-group>
    <mat-tab label="Planes de trabajo">
        <mat-card id="first-card">
            <form (ngSubmit)="onSubmit()" #jsonForm="ngForm">
                <mat-label>Seleccione archivo JSON:</mat-label>
                <div class="file-container">
                    <input type="file" class="file-input" (change)="onFileSelected($event)" accept=".json" required>
                    <button mat-stroked-button color="primary" [disabled]="!jsonForm.valid">Guardar Plan de Trabajo</button>
                </div>
            </form>
        
            <table class="mat-elevation-z8 tablaFiltro" >
                <mat-label>Filtrar lista planes:</mat-label>
                <mat-form-field>
                    <input matInput (keyup)="applyFilterPlanTrabajo($event)" >
                </mat-form-field>
            </table>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #tablaSkillPlan>
                <!-- Columnas de la tabla -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let plan"> {{ plan.id }} </td>
                </ng-container>

                <ng-container matColumnDef="lenguaje">
                    <th mat-header-cell *matHeaderCellDef> Tecnología </th>
                    <td mat-cell *matCellDef="let plan"> {{ plan.lenguaje }} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let plan">
                        <!-- Botón o link para ver el detalle del plan -->
                        <button mat-button (click)="verPlan(plan.id)">Ver</button>
                    </td>
                </ng-container>

                <!-- Definir las columnas a mostrar -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </mat-tab>
    <mat-tab label="Usuarios">
        <mat-card *ngIf="usuarioForm" class="usuarioForm">
            <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" class="formUsuario">
              <mat-form-field>
                <input matInput formControlName="nombre" placeholder="Usuario">
                <mat-error *ngIf="usuarioForm.get('nombre')?.invalid">Nombre es requerido</mat-error>
              </mat-form-field>
              <button mat-stroked-button color="primary" (click)="agregarUsuario()">Agregar Usuario</button>
              <span class="spacer"></span>
              <button mat-stroked-button color="primary" (click)="guardarUsuarios()">Guardar Todo</button>
            </form>

            <table class="mat-elevation-z8 tablaFiltro" >
                <mat-label>Filtrar lista usuario:</mat-label>
                <mat-form-field>
                    <input matInput (keyup)="applyFilterUsuario($event)" >
                </mat-form-field>
            </table>
          
            <table mat-table [dataSource]="dataSourceUsuario" class="mat-elevation-z8" #tablaUsuarios>
              <!-- Columnas de la tabla -->
              <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let usuario">{{ usuario.nombre }}</td>
              </ng-container>
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let usuario">
                  <!-- Botón o link para ver el detalle del conocimiento -->
                  <button mat-button color="primary" (click)="verDetalle(usuario)">Ver Detalle</button>
                </td>
              </ng-container>
          
              <!-- Definir las columnas a mostrar -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsUsuario"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsUsuario;"></tr>
            </table>
          </mat-card>
          
          <!-- Detalle del conocimiento -->
          <div *ngIf="detalleConocimiento">
            <mat-card class="conocimientoForm">
              <form [formGroup]="conocimientoForm">
                <mat-form-field>
                  <input matInput formControlName="tec_id" placeholder="Tecnología">
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="puntuacion" placeholder="Puntuación">
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="agregarConocimiento()">Agregar Conocimiento</button>
              </form>

              <table class="mat-elevation-z8 tablaFiltro" >
                <mat-label>Filtrar lista tecnologías:</mat-label>
                <mat-form-field>
                    <input matInput (keyup)="applyFilterTecnologia($event)" >
                </mat-form-field>
            </table>
          
              <table mat-table [dataSource]="dataSourceConocimiento" class="mat-elevation-z8" #tablaConocimientos>
                <!-- Columnas de la tabla -->
                <ng-container matColumnDef="tec_id">
                  <th mat-header-cell *matHeaderCellDef>Tecnología</th>
                  <td mat-cell *matCellDef="let conocimiento">{{ conocimiento.tec_id }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="puntuacion">
                  <th mat-header-cell *matHeaderCellDef>Puntuación</th>
                  <td mat-cell *matCellDef="let conocimiento"> <!--{{ conocimiento.puntuacion }} -->
                    <mat-form-field>
                        <input matInput type="number" [(ngModel)]="conocimiento.puntuacion">
                    </mat-form-field>
                  </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let tecno">
                      <!-- Botón o link para ver el detalle del conocimiento -->
                      <button mat-button color="primary" (click)="eliminarTecnologia(tecno)">Eliminar</button>
                    </td>
                 </ng-container>
          
                <!-- Definir las columnas a mostrar -->
                <tr mat-header-row *matHeaderRowDef="displayedColumnsConocimiento"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsConocimiento;"></tr>
              </table>
            </mat-card>
          </div>
    </mat-tab>
</mat-tab-group>