<div class="login-container">
    <form (submit)="onLogin()" *ngIf="status === 'login'">
        <h2>Iniciar sesión</h2>
        <mat-form-field appearance="fill">
            <mat-label>Correo electrónico:</mat-label>
            <input matInput name="email" type="email" [(ngModel)]="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña:</mat-label>
            <input matInput name="password" type="password" [(ngModel)]="password" required>
        </mat-form-field>
        <button mat-raised-button type="submit" (click)="onLogin">Iniciar sesión</button>
        <a routerLink="" (click)="status = 'registro'">Registrarse</a>
    </form>

    <!-- Formulario de registro -->
    <form *ngIf="status === 'registro'" (submit)="onRegister()">
        <h2>Registrarse</h2>
        <mat-form-field appearance="fill">
            <mat-label>Correo electrónico:</mat-label>
            <input matInput type="email" name="registerEmail" [(ngModel)]="registerEmail" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña:</mat-label>
            <input matInput type="password" name="registerPassword" [(ngModel)]="registerPassword" required>
        </mat-form-field>
        <button mat-raised-button type="submit" (click)="onRegister">Registrarse</button>
        <!-- Enlace para volver al formulario de inicio de sesión -->
        <a routerLink="" (click)="status = 'login'">Volver a iniciar sesión</a>
    </form>
</div>